* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #A2DBFA;
}

.water-vending-machine-container {
  width: 700px;
  margin: auto;
  /* outline: 3px solid hotpink; */
  color: #2643ba;
}